/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*,
*::before 
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Rubik';
    line-height: 1.5;
    color: #222;
}

img {
    max-width: 100%;
}

header {
    background: #F6F6F9;
}

.container {
    max-width: 1160px;  
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.header-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin: auto; */
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.header-logo {
    text-decoration: none;
    background: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #295091;
}

.valyuta-cours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-right: 250px;
    margin-top: 0;
    margin-bottom: 0;
}

.cours {
    color: rgba(34, 34, 34, 0.486);
    margin-right: 20px;
    margin-left: 17px;
}

span {
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #285193;
    padding-right: 5px;
}

.search-follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.lupa-search {
    margin-right: 11px;
}

.lupa-img {
    display: block;
   
    padding: 9px;
    background: #fff;
    border-radius: 5px;
}

.flag-ru {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -40px;
    background: #fff;
    border-radius: 5px;
    padding: 12px;
    height: 18px;
    margin-left: 22px;
}

.flag-ru::before {
    content: "";
    background-image: url(../img/flag_ru.png);
    width: 20px;
    background-repeat: no-repeat;
}

.russia {
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
}

.follow-telegram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 146px;
    height: 40px;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, right top, color-stop(15.07%, #1E96C8), color-stop(85.96%, #37AEE2));
    background: -o-linear-gradient(left, #1E96C8 15.07%, #37AEE2 85.96%);
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    color: #fff;
    border-radius: 5px;
    margin-left: 23px;
}

.foollowing {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 0;
}

.telegram-img {
    margin-left: 10px;
    margin-right: 7px;
}

.follow-telegram:hover {
    background: #37AEE2;
    color: #535353;
}

.follow-telegram:active {
    background: rgba(0, 0, 255, 0.336);
    color: brown;
}

.navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    padding: 21px 25px 22px 24px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
            box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 18px;
}

.navbar-link {
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #515151;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-link:hover {
    color: blue;
}

.navbar-link:active {
    color: red;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

aside {
    padding-bottom: 23px;
}

.covid {
    margin-top: 22px;
    padding: 0;
}

.all-covid-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #F6F6F9;
    border-radius: 5px;
    cursor: pointer;
}

.virus-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 35px;
    margin-right: 71px;
}

.virus-text::before {
    margin-top: 22px;
    content: "";
    background-image: url(../img/virus.png);
    width: 43px;
    height: 45px;
}

.covid-19 {
    width: 232px;
    height: 50px;
    margin-left:25px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.healths {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
}

.red-line {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 30px;
    width: 2px;
    height: 74px;
    border-left: 3px solid #EB5569;
}

.health {
    margin-left: 18px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #DB0000;
    width: 161px;
    height: 52px;
}

.number {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.patients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: 1px solid #F4CCD1;
    border-left: none;
}

.smile {
    margin-top: 24px;
    width: 38px;
    height: 40px;
}

.green-line {
    margin-top: 21px;
    margin-right: 30px;
    width: 2px;
    height: 49px;
    border-left: 2px solid #eb55694f;
}

.patient {
    width: 123px;
    height: 52px;
    margin-left: 20px;
    font-family: Rubik;
    font-size: 18px;
    line-height: 21px;
    color: #05B135;
}

.deads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.vektor {
    width: 38px;
    height: 38px;
    margin-top: 24.5px;
}

.black-line {
    padding-right: 30px;
    height: 52px;
    border-left: 1px solid #eb55694f;
}

.dead {
    margin-left: 19px;
    width: 161px;
    height: 52px;
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.information {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.politcs {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 0;
}

.news {
    margin-top: 12px;
    margin-bottom: 0;
}

.pic-tex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 13px;
    /* align-items: center; */
}

.news-link {
    text-decoration: none;
}

.theme {
    width: 434px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-top: 0;
    margin-bottom: 8px;
    margin-right: 0;
}

.theme-text {
    width: 460px;
    font-family: 'Rubik';
    font-size: 15px;
    line-height: 18px;
    color: #434343;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-right: 0;
}

.calen-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.text-calen {
    margin-left: 19px;
}

.data {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-family: 'Rubik';
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}

.hero-button {
    display: inline-block;
    margin-top: 40px;
    margin-left: 300px;
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 31px;
    background: #295093;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hero-button:hover {
    background: #2950939c;
    color: #535353;
}

.hero-button:active {
    background: #182f579c;
    color: #fafafa;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.news-aside {
    background: #F6F6F9;
    border-radius: 5px;
    margin-top: 20px;
    height: 410px;
}

.new-york-times {
    text-decoration: none;
}


.all-news-title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 16px;
    margin-left: 20px;
    
}

.all-new {
    padding-left: 20px;
    padding-right: 20px;
}

.all-news-text {
    width: 230px;
    font-family: 'Rubik';
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-top: 12px;
}

.all-news-time {
    font-family: 'Rubik';
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
    margin-top: 11px;
}

.my-hr {
    margin-top: 14px;
    width: 310px;
    height: 4px;
    border: 1px;
    background-color: #E4E4E4;
}

.ucell-rek {
    margin-top: 40px;
}

.company {
    display: block;
}

footer {
    background: #295093;
    margin-top: 40px;
}

.footer  {
    padding-top: 18px;
}

.footer-logo-telegram {
    padding-top: 0;
}

.foter-link {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
}

.foter-logo {
    margin-top: 0;
    margin-bottom: 0;
    padding: 6px 12px 6px 9px;
    background: #133C82;
    border-radius: 5px;
}

.foter-logo:active {
    opacity: 0.7;
}

.text-telegram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
}

.telegram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    color:#295093;
    border-radius: 5px;
    margin-left: 17px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blue-telegram {
    padding: 9px;
}

.follow-me {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 9px;
}

.telegram:hover {
    background: rgb(169, 169, 187);
    color: white;
}

.telegram:active {
    background: rgb(106, 106, 243);
    color: red;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.foter-hr {
    width: 1157px;
    height: 2px;
    background: #133C82;
    border: 1px solid #133C82;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-site {
    margin-top: 12px;
    margin-bottom: 0;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 310px;
    height: 121px;
}

.footer-site {
    list-style-type: none;
    margin-left: 111px;
    padding-left: 0;
    margin-top: 12px;
}

.site-about {
    margin-bottom: 7px;
}

.site-about-link {
    text-decoration: none;
    color: white;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.site-about-link:hover {
    color: rgba(255, 255, 255, 0.39);
}

.site-about-link:active {
    color: red;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.team {
    list-style-type: none;
    margin-left: 111px;
    padding-left: 0;
    margin-top: 12px;
}

.team-li {
    margin-bottom: 7px;
}

.team-link {
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.team-link:hover {
    color: rgba(255, 255, 255, 0.39);
}

.team-link:active {
    color: red;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}